* {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
input,
button {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  height: 100vh;
}

header,
main,
footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  padding-top: 5%;
  padding-bottom: 3%;
  flex: 1;
}

.logo img {
  max-width: 60%;
}

header h1 {
  font-weight: 300;
  color: hsl(0, 0%, 59%);
  padding-bottom: 1%;
}

header h1 b {
  color: black;
}

header p {
  padding-bottom: 2%;
}

main form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main input,
main button {
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  padding: 3%;
  border-radius: 20px;
  outline: none;
  border: 1px solid;
}

main input {
  width: 70%;
  color: hsl(223, 100%, 88%);
  padding-left: 5%;
}

main input::placeholder {
  color: hsl(223, 100%, 88%);
}

main button {
  width: 30%;
  cursor: pointer;
  margin-left: 2%;
  color: white;
  border: none;
  background: hsl(223, 87%, 63%);
  box-shadow: 0px 3px 5px 3px hsla(223, 87%, 63%, 0.2);
}

.img {
  padding: 8% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  max-width: 50%;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.media img {
  max-width: 3%;
  padding: 5px;
  margin-right: 20px;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
}

footer p {
  padding: 3%;
  font-size: 16px;
  color: hsl(0, 0%, 59%);
}

#error {
  font-size: 12px;
  color: red;
  margin-right: 30%;
  margin-top: 0.5%;
  height: 12px;
  font-style: italic;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 16px;
  }
  .container {
    max-width: 900px;
  }

  .logo {
    padding: 10%;
    padding-top: 20%;
  }

  header h1,
  header p {
    padding-bottom: 4%;
  }

  header h1 {
    font-size: 1.5rem;
  }

  main form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  main input {
    width: 80%;
    margin-top: 2%;
  }
  main button {
    width: 80%;
    margin-top: 2%;
    margin-left: 0;
  }
  footer {
    margin: 10%;
  }
  footer p {
    font-size: 0.8rem;
  }
  .img img {
    max-width: 90%;
  }
  .media {
    margin-bottom: 5%;
  }
  .media img {
    max-width: 8%;
  }
}
